@CHARSET "UTF-8";

html, body {
    background-image: url(../images/bg_09.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.small-title-name{
    color:#e7e7e7;
    font-size:20px;
    margin-bottom:40px;
}
.small-title-name span{
     box-shadow: inset 0px 0px 20px #1D859E;
     display:inline-block;
     border:2px solid #1D859E;
     padding:0 20px;
     margin-right:20px;
     margin-left:10px;
}

#chart1{
    width:100%;
    height:500px;
}
#chart2{
    width:100%;
    height:500px;
}